
<div class ="about-main">

  <h2>筋ninaruとは</h2>
  <p>パーソナルトレーナーを受けたい方へ、トレーナーとのマッチング</p>
  <p>また”ご自身がしている筋トレ" "気になる筋トレ"を</p>
  <p>シェア、発信できるSNSサービスです。</p>



  <video  class="about-mov" src="tazawa.MOV" loop autoplay muted></video>
</div>
